*,
html {
  margin: 0;
  padding: 0;
}

.top-container {
  background-image: url("static/images/top-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content {
  color: rgb(0, 0, 0);
  width: 50%;
  height: 60%;
  text-align: center;
}

.face-image {
  width: 200px;
  border-radius: 50%;
}

.title {
  padding-top: 30px;
  text-align: center;
}

.small-desc {
  margin-top: 10px;
  font-size: 30px;
  text-align: justify;
}

.second-container {
  height: 800px;
  background-color: #8685ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-my {
  width: 50%;
  height: 50%;
  text-align: center;
}

.about-my-title {
  text-align: left;
  font-size: 25px;
}

.about-my-text {
  font-size: 30px;
  text-align: justify;
  padding-top: 60px;
}

.socials {
  margin-top: 5%;
  text-align: left;
}

.socials-list li {
  display: inline;
}

.social-list-item {
  padding-right: 40px;
}

.tech {
  width: 2000px;
  left: -500px;
  height: 80px;
  position: relative;
  margin-top: 170px;
  background-color: #2e2e2e;
}

.icon {
  width: 60px;
  padding-right: 4%;
  margin-top: 7px;
}

.icon:hover {
  width: 63px;
}
