*,
html {
  margin: 0;
}

.top-container {
  background-image: url("static/images/top-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content {
  color: rgb(0, 0, 0);
  width: 50%;
  height: 50%;
  text-align: center;
}

.face-image {
  width: 200px;
  border-radius: 50%;
}

.title {
  padding-top: 30px;
  text-align: center;
}

.small-desc {
  margin-top: 10px;
  text-align: justify;
}
