*,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}

.top-container {
  background-image: url("static/images/top-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content {
  width: 50%;
  height: 60%;
  text-align: center;
}

.face-image {
  width: 200px;
  border-radius: 50%;
}

.title {
  padding-top: 30px;
  text-align: center;
}

.small-desc {
  margin-top: 10px;
  font-size: 30px;
  text-align: justify;
}

.second-container {
  height: 800px;
  background-color: #8685ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-my {
  width: 50%;
  height: 50%;
  text-align: center;
}

.about-my-title {
  text-align: left;
  font-size: 25px;
}

.about-my-text {
  font-size: 30px;
  text-align: justify;
  padding-top: 60px;
}

.socials {
  margin-top: 5%;
  text-align: left;
}

.socials-list li {
  display: inline;
}

.social-list-item {
  font-size: 18px;
  padding-right: 40px;
  text-decoration: none;
}

.tech {
  width: 204%;
  left: -500px;
  height: 120px;
  position: relative;
  background-color: #2e2e2e;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.tech-title {
  margin-top: 90px;
  margin-bottom: 20px;
}

.icon {
  position: relative;
  width: 4%;
  margin-top: 1%;
  margin-right: 3%;
  transition: all 0.3s;
}

.icon:hover {
  transform: translateY(-25px);
}

.icon img {
  max-width: 100%;
  filter: drop-shadow(-20px 0 10px #2e2e2e);
  cursor: pointer;
}

.icon:not(:first-child) img {
  margin-left: -20px;
}

.icon .name {
  position: absolute;
  background-color: #d3fbd8;
  padding: 15px 30px;
  border-radius: 100px;
  bottom: -80px;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.icon .name::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #d3fbd8;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.icon img:hover + .name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px #2e2e2e;
}
